.gp-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 0px dotted white;
}

/* ///////////////////////////////////////////////////////////////////////////// fix
*/

.gp-tooltip .gp-tooltipFix {
  visibility: hidden;
  max-width: 600px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  opacity: 0;
  transition: opacity 2s;
  position: fixed;
  left: 200px;
  top: 90px;
  z-index: 1;
}

.gp-tooltip .gp-tooltipFix::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.7) transparent transparent transparent;
}

.gp-tooltip:hover .gp-tooltipFix {
  opacity: 1;
  visibility: visible;
}

/* ///////////////////////////////////////////////////////////////////////////// LEWY
*/

.gp-tooltip .gp-tooltipGora {
  visibility: hidden;
  width: 200px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  opacity: 0;
  transition: opacity 2s;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.gp-tooltip .gp-tooltipGora::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.7) transparent transparent transparent;
}

.gp-tooltip:hover .gp-tooltipGora {
  opacity: 1;
  visibility: visible;
}

/* ///////////////////////////////////////////////////////////////////////////// LEWY
*/

.gp-tooltip .gp-tooltipPrawy {
  visibility: hidden;
  width: 400px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  opacity: 0;
  transition: opacity 2s;
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 110%;
}

.gp-tooltip .gp-tooltipPrawy::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(255, 255, 255, 0.7) transparent transparent;
}

.gp-tooltip:hover .gp-tooltipPrawy {
  opacity: 1;
  visibility: visible;
}

/* ///////////////////////////////////////////////////////////////////////////// PRAWY
*/

.gp-tooltip .gp-tooltipLewy {
  visibility: hidden;
  width: 400px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  opacity: 0;
  transition: opacity 2s;
  position: absolute;
  z-index: 1;
  top: -10px;
  right: 110%;
}

.gp-tooltip .gp-tooltipLewy::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.9);
}

.gp-tooltip:hover .gp-tooltipLewy {
  opacity: 1;
  visibility: visible;
}

/* ///////////////////////////////////////////////////////////////////////////// STOPKA
*/

.gp-tooltip .gp-tooltipDol {
  visibility: hidden;
  max-width: 400px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  opacity: 0;
  transition: opacity 2s;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.gp-tooltip .gp-tooltipDol::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(255, 255, 255, 0.9) transparent;
}

.gp-tooltip:hover .gp-tooltipDol {
  opacity: 1;
  visibility: visible;
}
